.input {
  font-size: 1.9rem;
  line-height: 2.4rem;
  color: var(--seed-text-body);
  border: 0;
  border-bottom: 2px solid var(--seed-border-light);
  outline: none;
  width: 100%;
  padding: 5px 0;
  &.active {
    border-bottom-color: var(--seed-color-primary);
  }
}

.label {
  position: absolute;
  bottom: 5px;
  transition: 0.2s;
  left: 0;
  &.active {
    transform: translateY(-30px);
    span {
      color: var(--seed-text-body-light);
    }
  }
}
